@import '../node_modules/bootstrap/less/bootstrap.less';
@import './bootswatch.less';
@import './theme-variables.less';
@import './override-variables.less';
@import '../node_modules/font-awesome/less/font-awesome.less';
@import (less) '../bower_components/nvd3/nv.d3.css';
@import '../node_modules/react-bootstrap-select/less/bootstrap-select.less';


@import './dashboard.less';
@import './UserWidget.less';
@import './Header.less';
@import './Sidebar.less';
@import './MinerList.less';

@fa-font-path: 'fonts/';

[class*='col-sm-'] {
  &:not(:first-child) {
    padding-left: 0;
  }
}

.container {
  width: 100%;
}

.well {
  padding: 12px;
}

.fa, .fa-fw {
  margin: 0 .5em 0 0;
}

/*
.navbar-nav {
  padding: 8px;
}
*/

.label {
  cursor: pointer;
}

.panel-heading {
  * .back-btn {
    float: right;
  }
}

.modal-backdrop {
  position: fixed;
  bottom: 0;
  z-index: 1040;
}

text {
  fill: @text-color;
}

.nvtooltip {
  background-color: @body-bg;
}

.selectpicker {
  color: @input-color !important;
  background-color: @input-bg !important;

  * a {
    color: @input-color;
    //background-color: @input-bg !important;
  }


  /*
  &:hover, &:active, &:hover, &:focus {
    color: @input-color;
    background-color: @input-bg;
  }
  */
}
